@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
/*header*/
#wrap{
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}
body{
    padding-top: 185px;
}
header{
    width: 100%;
    height: 185px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.nav{
    width: 1300px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
}
.gnb_left{
    width: auto;
}
.nav_left{
    display: block;
    list-style:none;
    margin:0;
    padding:0;
}
.nav_left>li:hover{
    text-decoration: underline;
}
.nav_list{
    margin-left: 10px;
    float: left;
    font-size: 12px;
}
.nav_list:nth-child(1){
    width: 38px;
}
.nav_list:nth-child(2){
    width: 51px;
}

.nav_list:nth-child(3){
    width: 51px;
}

.nav_list:nth-child(4){
    width: 61px;
}
.gnb_right{/*전체 가로 185*/
    width: auto;
    height: 40px;
    float: right;
    margin-top: 5px;
}
.nav_right{
    width: 190px;
    float: right;
    margin: 0 auto;
}
.search{
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    float: left;
}
.search_icon{
    width: 20px;
    height: 20px;
    margin: 5px;
    float: right;
}
.basket{
    width: 30px;
    height: 30px;
    /* background-color: #ebebeb; */
    border-radius: 3px;
    margin-left: 5px;
    float: left;
}
.basket_img{
    width: 20px;
    height: 20px;
    margin: 5px;
}

#logo{
    width: 1300px;
    height: 135px;
    margin: 0 auto;
}

.logoimgguide{
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
.logo_img{
    width: 200px;
    height: 50px;
    line-height: 100px;
    text-align: center;
    padding-top: 68px;
    margin: 0 auto;
}
.cnb{
    display: block;
    width: 1300px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
.view_all{
    width: 50px;
    height: 48px;
    background-color: none;
    float: left;
}
.view_all_icon{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 14px;
    margin-right: 15px;
    margin-bottom: 14px;
}
.category{
    width: 1250px;
    height: 50px;
    background-color: white;
    float: left;
    text-align: center;
}
.ctgr{
    width: 1250px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 14px;
}
.ctgr>li:hover{
    text-decoration: underline;
}
.ctgr_txt:nth-child(1){
    width: 250px;
    float: left;
}
.ctgr_txt:nth-child(2){
    width: 250px;
    float: left;
}
.ctgr_txt:nth-child(3){
    width: 250px;
    float: left;
}
.ctgr_txt:nth-child(4){
    width: 250px;
    float: left;
}
.ctgr_txt:nth-child(5){
    width: 250px;
    float: left;
}

/* 본문 내용 */
#container{
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main_img{
    max-width: 770px;
    width: 100%;
    float: left;
}
.main_img>img{
    width:100%;
}
#oder_form_wrap{
    max-width: 510px;
    width: 100%;
    overflow: hidden;
    background-color: #fcfcfc;
}
.oder_form{
    width: 100%;
    overflow: hidden;
}
.oder_form>.title_section{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: wrap;
}
.oder_form>.title_section>li:nth-of-type(1){
    width: 75%;
    height: 80px;
    line-height: 80px;
    font-size: 1.1rem;
    margin-left: 5%;
}
.oder_form>.title_section>li{
    width: 10%;
    height: 80px;
    display: flex;
    align-items: center;
}
.oder_form>.title_section>li>img{
    margin: 0 auto;
    width: 60%;
    height: auto;
}
.info_section{
    border-top: 1px solid #d9d9d9;
    width: 100%;
    overflow: hidden;
}
table {
    width: 100%;
    border-spacing: 15px 20px; 
}
tbody{
    display: table-row-group;
    vertical-align: middle;
}
tr{
    display: table-row;
}
th{
    font-size: 0.8rem;
    font-weight: 300;
}
td{
    font-size: 0.8rem;
}
.option_section{
    border-top: 1px solid #d9d9d9;
    width: 100%
}
.option_title{
    width: 40%;
    text-align: left;
}
.option_selec{
    width: 30%;
    text-align: center;
}
.option_price{
    width: 30%;
    text-align: right;
    font-weight: 600;
}
.total{
    border-top: 1px solid #d9d9d9;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: right;
}
.total_txt{
    margin-right: 20px;
}
.total_price{
    margin-right: 20px;
    font-weight: 700;
    font-size: 1.2rem;
}
.oder_btn{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
#oder_basket{
    width: 49%;
    font-size: 1rem;
    font-weight: 600;
    color: #3b3a3a;
}
#buy{
    width: 49%;
    background-color: #fbd3d3;
    font-size: 1rem;
    font-weight: 700;
}
/* ===================상품정보 영역============= */
#pd_infor{
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
}
#pd_infor>ul{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    margin: 0 auto;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
#pd_infor>ul>li{
    margin: 0 auto;
    width: 24%;
    float: left;
    text-align: center;
    cursor: pointer;
    color: #8f8f8f;
}
.clicked{
    color: rgb(27, 27, 27);
    font-weight: 700;
    text-decoration: underline;
}
.pd_detail{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    /* overflow: hidden; */
    background-color: #d9d9d9;
}
/* 구매가이드 */
.pd_guide{
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    padding: 30px 0px 30px 0px;
}
.pd_guide>ul{
    max-width: 900px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.pd_guide_bigtxt{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 0.9rem;
    font-weight: 700;
    border-bottom: 1px solid #d9d9d9;
}
.pd_guide_smalltxt{
    width: 100%;
    overflow: hidden;
    font-size: 0.8rem;
}
/* 구매후기 */
#pd_review{
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
    margin: 50px auto;
    font-size: 1.2rem;
    font-weight: 700;
}
#pd_nav_count{
    font-size: 1.3rem;
    font-weight: 700;
}
.review_score_sec{
    margin: 20px 0 20px 0;
    max-width: 1000px;
    width: 100%;
    height: 150px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.review_score_sec>ul{
    width: 100%;
    display: flex;
}
.review_score_sec>ul>li:nth-of-type(1){
    text-align: center;
    width: 100%;
    max-width: 200px;
    font-size: 0.8rem;
    margin-top: 10px;
    font-weight: 600;
    border-right: 1px solid #d9d9d9;
}
.review_score_sec>ul>li:nth-of-type(1)>strong{
    font-size: 3rem;
    line-height: 80px;
}
.review_score_sec>ul>li:nth-of-type(2){
    text-align: center;
    width: 100%;
    max-width: 800px;
    font-size: 0.8rem;
    margin-top: 10px;
    font-weight: 600;
}
.score_star{
    width: 100%;
    max-width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
}
.score_star>img{
    width: 20px;
}
#photo_rev{
    width: 100%;
    max-width: 780px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.photo_rev_list{
    width: 100%;
    max-width: 1000px;
    display: flex;
}
.photo_rev_list>li{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.photo_rev_list>li>img{
    width: 100%;
    object-fit: cover;
    max-width: 100px;
    height: 100px;
}
.photo_rev_arrowLeft{
    width: 20px;
}
.photo_rev_arrowright{
    width: 20px;
}
/* 리뷰 작성 영역 */
.review_form{
    margin-top: 50px;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}
.review_form>p{
    font-size: 1rem;
}
#rev_txt_count{
    font-size: 0.8rem;
    color: #999;
    float: right;
}
#rev_txt{
    width: 1000px;
    width: 100%;
    height: 100px;
    box-sizing:border-box;
    padding: 10px;
    line-height: 15px;
}
.rev_form_option{
    width: 100%;
    height: 40px;
}
.add_imgbtn{
    width: 200px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    font-size: 0.8rem;
    line-height: 40px;
    color: #666;
    font-weight: 600;
    float: left;
}
.add_img{
    float: right;
    width: 100%;
    max-width: 30px;
    margin:5px 20px 0px 0px;
}
.selectbox{
    width: 100%;
    max-width: 500px;
    height: 40px;
    line-height: 35px;
    float: left;
    margin-left: 30px;
}
.selectbox>label{
    font-size: 0.9rem;
    width: 150px;
    height: 40px;
}
#ex_select{
    margin-left: 10px;
    width: 200px;
    height: 30px;
}
#ex_select>option>img{
    width: 100%;
}
.rev_submit{
    cursor: pointer;
    text-align: center;
    width: 200px;
    height: 40px;
    background-color: #010440;
    /* border: 1px solid #d9d9d9; */
    font-size: 0.8rem;
    line-height: 40px;
    color: #fcfcfc;
    font-weight: 600;
    float: right;
}
/* 상품문의 */
#pd_qna{
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
    margin: 50px auto;
    font-size: 1.2rem;
    font-weight: 700;
}
.pd_qna_sec {
    margin: 20px 0 20px 0;
    max-width: 1000px;
    width: 100%;
    height: 300px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    text-align: center;
}
.pd_qna_sec>p{
    margin-top: 100px;
}

.pd_qna_btn{
    width: 100px;
    height: 30px;
    font-weight: 600;
    line-height: 30px;
    font-size: 0.8rem;
    color: #010440;
    background-color: white;
    border: 1px solid #010440;
    border-radius: 5px;
    margin-top: 20px;
}
.pd_qna_btn:hover{
    background-color: #010440;
    color: #fff;
}


/*=========풋터=========*/
.footer{
    width: 100%;
    overflow: hidden;
}
.footer_guide{
    width: 100%;
    max-width: 1300px;
    height: 300px;
    border-top: 1px solid #d9d9d9;
    margin: 0 auto;
}
.footer_left{
    float: left;
    width: 100%;
    max-width: 400px;
}
.footer_logo{
    width: 100%;
    max-width: 200px;
    margin: 30px 0 0 0;
}
.copyright{
    width: 100%;
    max-width: 400px;
    font-size: 0.7rem;
    color: dimgrey;
    margin: 10px 0 0 10px;
}
.footer_right{
    float: right;
    font-size: 0.8rem;
    color: darkgrey;
    width: 100%;
    max-width: 320px;
}
.footer_right>ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
    margin: 40px 0 0 0;
}
.footer_icon{
    width: 100%;
    max-width: 160px;
}
.footer_r1>.footer_icon>img{
    width: 100%;
    max-width: 30px;
    margin-left: 6px;
    float: left;
}
.about{
    margin: 35px 0 0 0;
    width: 100%;
    max-width: 160PX;
    float: left;
    cursor: pointer;
    font-size: 1rem;
    color: dimgrey;
    font-weight: 700;
}
.footer_r1{
    width: 100%;
    max-width: 160px;
}
.footer_r2{
    width: 100%;
    max-width: 160px;
    margin-left: 20px;
}
.footer_r2>.business{
    width: 100%;
    max-width: 160px;
    float: right;
}
.business>p:nth-of-type(1){
    cursor: pointer;
    font-size: 1rem;
    color: dimgrey;
    font-weight: 700;
}
.cs_center{
    float: right;
    font-size: 0.8rem;
    color: darkgrey;
    width: 100%;
    max-width: 160px;
    margin: 20px 0 0 0;
}
.cs_center>p:nth-of-type(1){
    cursor: pointer;
    font-size: 1rem;
    color: dimgrey;
    font-weight: 700;
}



/*===============미디어쿼리========================*/
/* 미디어쿼리1//테블릿 가로, 테블릿 세로 (해상도 768px ~ 1239px)*/ 
@media all and (min-width:768px) and (max-width:1239px){
    .nav{
        width: 90%;
    }
    #logo{
        width: 100%;
    }
    .cnb{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .view_all{
        width: 6.5%;
    }
    .category{
        width: 93.5%;
    }
    .ctgr{
        width: 100%;
    }
    .category .ctgr_txt{
        width: 20%;
    }
    .footer{
        width: 90%;
        margin: 0 auto;
    }

    /* container======상품 대표 이미지 및 옵션창 */
    #container{
        margin: 0 auto;
    }
    .main_img{
        width: 90%;
        margin: 0 auto;
    }
    #oder_form_wrap{
        margin: 0 auto;
    }    
}

/* 미디어쿼리2// 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px){
    body {
        padding-top: 0px;
    }
    header{
        width: 100%;
        height: 60px;
    }
    .nav{
        width: 100%;
    }
    .gnb_left{
        display: none;
    }
    .nav_right{
        width: 60%;
    }
    .search{
        width: 0%;
    }
    #logo{
        margin: 0 auto;
        width: 30%;
        position: relative;
        top: -70px;
    }
    .view_all{
        width: 10%;
        position:relative;
        top: -140px;
    }
    .cnb{
        width: 100%;
        position: absolute;
        top: 10px;
    }
    .view_all{
        top: 0;
    }
    .category{
        display: none;
    }
    .ctgr{
        width: 100%;
    }
    .category .ctgr_txt{
        width: 20%;
    }
    /* container======상품 대표 이미지 및 옵션창 */
    #container{
        width: 85%;
    }
     /* 풋터 */
    .footer_right{
        float: left;
        margin: 20px 0px 5px 20px;
    }
}

